<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="/public/style.css">
    </head>
</html>
<h1>This is a full stack app template</h1>

<h2>Here is how you set up and push to Heroku</h2>

<ul>
    <li>git init</li>
    <li>heroku login</li>
    <li>heroku create</li>
    <li>echo "web: node server.js"> Procfile</li>
    <li>git add .</li>
    <li>git commit -m "chances"</li>
    <li>git push heroku main</li>
</ul>

<script src='/public/main.js"</script>